<!DOCTYPE html>
<html ng-app="hangryApp">
<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Hangry</title>
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/style.css">

    <script src="js/vendor/jquery-2.0.3.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/application.js"></script>
    <script src="js/controller.js"></script>
</head>

<body ng-controller="PickerController">

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 search-box">
                <h1>Hangry</h1>
                <input type="text" placeholder="Search" ng-model="query">
                <button class="btn btn-warning" ng-click="clearSearch()">Clear</button>
                <button class="btn btn-danger" ng-click="clearTags()">Start Over</button>
            </div>
            <div class="col-md-7 col-sm-7">
                <span ng-repeat="choice in choices | orderBy:'score':true">
                    <span class="item label label-success" ng-style="{opacity: choice.opacity}">
                        {{choice.name}}
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>


<div class="tags container">
    <div class="col-md-12">
        <span ng-repeat="tag in tags | filter:{selected:true}">
            <span class="item action label label-primary" ng-click="toggle(tag)">
                <span class="glyphicon glyphicon-remove"></span>
                {{tag.name}}
            </span>
        </span>
        <span ng-repeat="tag in tags | filter:{selected:false} |filter:query">
            <span class="item action label label-info" ng-click="toggle(tag)">
                <span class="glyphicon glyphicon-plus" ng-click="toggle(tag)"></span>
                {{tag.name}}
            </span>
        </span>
    </div>
</div>


</body>
</html>