body {
    font-family: 'Open Sans', sans-serif;
}

input {
    border: none;
    background: none;
    padding-left: 15px;
    margin-top: .2em;
    width: 85%;
}

.input-wrapper .glyphicon {
    width: 10%;
    color: #AAAAAA;
}

.input-wrapper {
    height: 2.5em;
    background: white;
    margin-bottom: 1em;
}

input:focus {
    outline: none;
}

h1 {
    margin-bottom: .5em;
}

.jumbotron {
    overflow-y: hidden;
}

.search-box {
    text-align: center;
}

.item{
    display: inline-block;
    margin: 1em;
    padding: .6em .8em .6em;
    font-size: 14px;
    vertical-align: top;
}

.action {
    cursor: pointer;
}

.glyphicon {
    margin-right: .3em;
}

.data {
    display: none;
}